[Unit]
Description=Enables ABRT Java hook
After=abrtd.service
Requisite=abrtd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/abrt-java-connector start
ExecStop=/usr/libexec/abrt-java-connector stop

[Install]
WantedBy=multi-user.target
